.payment-form
    background-color bg-support-color
    padding margin

    &_display_inline
        background-color bg-content-color
        display inline-block
        padding 0
        margin-bottom margin

    &__input
        border 1px solid font-color
        border-radius 5px
        background-color bg-content-color
        margin-bottom margin
        padding 2px 3px

        &_type_select
            padding 1px 2px

    &__label
    &__input
        display block
