# http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = "utf8"
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{css,html,json,styl}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{jade,md}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
