{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}

                <div class="clear"></div>
                <div class="pages">
                {%- if articles_page.has_previous() %}
                {%   if articles_page.previous_page_number() == 1 %}

                    <a href="{{ SITEURL }}/{{ page_name }}.html" class="prev_page">&larr;&nbsp;Назад</a>
                {%-   else %}

                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="prev_page">&larr;&nbsp;Назад</a>
                {%-   endif %}
                {%- endif %}
                {%- if articles_page.has_next() %}

                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="next_page">Дальше&nbsp;&rarr;</a>
                {%- endif %}

                    <span>Страница {{ articles_page.number }} из {{ articles_paginator.num_pages }}</span>
                </div>
{% endif %}
