{%- if SIDEBAR_ITEMS -%}
{%- for item in SIDEBAR_ITEMS -%}
<div class="sidebar-block{% if item.class %} {{item.class}}{% endif %}">
{%- if item.html -%}
    {{item.html|safe}}
{%- else -%}
    {%- if item.title -%}
    <h4 class="sidebar-block__header">
        {{item.title}}
    </h4>
    {%- endif -%}
    {%- if item.content -%}
    <div class="sidebar-block__content">
        <ul class="sidebar-block__content-list">
        {%- for content in item.content -%}
            <li class="sidebar-block__content-item{% if content.class %} {{content.class}}{% endif %}">
                {%- if content.link %}<a href="{{content.link}}" target="_blank">{% endif -%}
                {%- if content.image %}<img alt="{{content.title}}" href="{{content.image}}"/>{% endif -%}
                {%- if content.title %}{{content.title}}{% endif -%}
                {%- if content.link %}</a>{% endif -%}
                {%- if content.text%}{{content.text}}{% endif -%}
            </li>
        {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}
{%- endif -%}
</div>
{%- endfor -%}
{%- endif -%}
