.aoc--screen {
	width: 700px;
	height: 500px;
	position: relative;
	box-sizing: border-box;
	border: 3px solid #f5be00;
}

.aoc--button {
	border: 1px solid #f5be00;
	color: #f5be00;
	font-size: 24px;
	background: transparent;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
	font-family: sans-serif;
}
.aoc--button:hover {
	background: #f5be00;
	color: #fff;
}
.aoc--button:active {
	box-shadow: 0 4px 0 rgba(0,0,0,.3) inset;
	background: #f5be00;
	color: #fff;
}

.aoc--button_creative {
	margin-left: 40px;
}

.aoc--end,
.aoc--start {
	text-align: center;
	padding-top: 340px;
	background: url('logo.png');
	background-position: 50% 10%;
	background-repeat: no-repeat;
}

.aoc--end {
	padding-top: 290px;
}

.aoc--battle-field__header {
	font-family: sans-serif;
	text-align: center;
}

.aoc--battle-field__counter {
	font-family: sans-serif;
	text-align: center;
	font-size: 18px;
}

.aoc--battle-field {
	text-align: center;
}

.aoc--battle-field__actions {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
}

.aoc--battle-field__image {
	max-height: 260px;
}