player-main = #a4a6a8
player-main-dark = #565b5d
player-accent = #3871b8

audio
    display none

.audiojs
    width 100%
    height 26px
    background transparent
    box-shadow none
    border 1px solid player-main
    margin 0
    padding 0
    color player-main
    line-height 12px
    font-size 12px
    font-family sans-serif
    padding  6px

    .buttons
        display block
        float left
        width 12px
        height 12px
        overflow hidden

    .button
        width 12px
        height 12px
        background transparent url(../js/audiojs/audiojs.gif) no-repeat
        display none

    .button__play
        margin 1px
        background-position -10px -9px
        display block

    .button__pause
        background-position -8px -98px

    &.playing .button__pause
        display block

    .button__loading
        background-position -9px -39px

    &.loading .button__loading
        display block

    .button__error
        background-position -8px -68px

    &.error .button__error
        display block

    .scrubber
        display block
        margin 0 154px 0 18px
        background player-main
        height 12px
        position relative

    .progress
        height 12px
        width 0
        background player-accent
        position absolute
        top 0
        left 0

    .loaded
        height 12px
        width 0
        background player-main-dark
        position absolute
        top 0
        left 0

    .time
        display block
        float right
        width 120px
        height 12px
        text-align center

    .played
        color player-accent
        margin-right 3px

    .duration
        margin-left 3px

    .volume
        display block
        float right
        width 28px
        height 12px
        background transparent url(../js/audiojs/audiojs.gif) -10px -143px no-repeat

    .volume__level
        width 0
        height 12px
        background transparent url(../js/audiojs/audiojs.gif) -10px -123px no-repeat

    .error-message
        display none

.audiojs:after
    display block
    content ''
    clear both

.audio-rewind,
.audio-rewind:hover,
.audio-rewind:focus
    cursor pointer
    color link-hover-color
    text-decoration none

.audio-rewind:hover,
.audio-rewind:focus
    color link-hover-color
    text-decoration blink

