.pager
	width site-width
	margin 30px auto 0
	height 36px
	line-height 36px
	
	@media screen and (max-width: 999px)
		width 100%
		max-width content-width

	&__amount
		@media screen and (max-width: 759px)
			padding 0 0 0 30px
			
		@media screen and (max-width: 459px)
			display block

	&__link
		padding 6px 20px
		margin-left 30px
		border 1px solid border-color
		border-radius 5px
		transition color 0ms, background-color 0ms, box-shadow 0ms
			
		&:hover
			background-color border-color
			transition color 350ms, background-color 350ms, box-shadow 350ms
			
		&:active
			box-shadow 0 0 10px rgba(0,0,0,.2) inset
			transition color 350ms, background-color 350ms, box-shadow 350ms