.pager
	width site-width
	margin 30px auto 0
	height 36px
	line-height 36px
	
	&__link
		padding 6px 20px
		margin-left 30px
		border 1px solid border-color
		border-radius 5px
		transition color 350ms, background-color 350ms, box-shadow 350ms
			
		&:hover
			background-color border-color
			transition color 0, background-color 0, box-shadow 0
			
		&:active
			box-shadow 0 0 10px rgba(0,0,0,.2) inset
			transition color 0, background-color 0, box-shadow 0