{% extends "base.html" %}

{% block og_type %}
  {% if article.mime %}
    {% if article.mime.startswith('audio') %}
        <meta property="og:type" content="music.radio_station" />
        <meta property="og:audio" content="{{article.enclosure}}" />
        <meta property="og:audio:type" content="{{article.mime}}" />
    {% elif article.mime.startswith('video') %}
        <meta property="og:type" content="video.other" />
        <meta property="og:video" content="{{article.enclosure}}" />
        <meta property="og:video:type" content="{{article.mime}}" />
    {% else %}
        <meta property="og:type" content="article" />
        <meta property="og:article:author:username" content="gikme" />
        {% for tag in article.tags %}
            <meta property="og:article:tag" content="{{tag}}" />
        {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block head %}
  {{ super() }}
  <link href='{{SITEURL}}/{{article.url}}' rel='canonical'/>
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
    <meta name="og:description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
  {% if article.title %}
      <meta property="og:title" content="{{article.title}}" />
  {% endif %}
  {% if article.image %}
      <meta property="og:image" content="{% if not article.image.startswith('http') %}{{SITEURL}}{% endif %}{{article.image}}" />
  {% endif %}
  <meta property="og:url" content="{{SITEURL}}/{{article.url}}" />
{% endblock %}

{% block title %}{{ SITENAME }} &middot; {{ article.title }}{% endblock %}
{% block content %}
{% include "article_stub.html" %}

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
  <div class="comments" id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    var disqus_identifier = '{{ article.url }}';
    var disqus_url = '{{ SITEURL }}/{{ article.url }}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
{% endblock %}
