<!DOCTYPE html>
<html class="window" lang="{{ DEFAULT_LANG }}" prefix="ya: https://webmaster.yandex.ru/vocabularies/" prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website# {% block og_prefixes %}{% endblock %}" {% block head_prefixes %}{% endblock %}>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
            <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
            <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css"/>
            <link rel="stylesheet" href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css">
            <link rel="shortcut icon" href="/favicon.ico" />
            <link rel='icon' type='image/x-icon' href='/favicon.ico'/>

            {# {% if FEED_ALL_ATOM %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} полный Atom Feed" />
            {% endif %}
            {% if FEED_ALL_RSS %} #}
                <link href="http://feeds.feedburner.com/gikmeblog" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} полный RSS Feed" />
            {# {% endif %}
            {% if FEED_ATOM %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
            {% endif %}
            {% if FEED_RSS %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
            {% endif %} #}
            {% if CATEGORY_FEED_RSS and category %}
                {% if category|safe == 'podcast' %}
                    <link href="http://feeds.feedburner.com/gikme" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed раздела &quot;{{category|cat_name}}&quot;" />
                {% elif category|safe == 'nedocast' %}
                    <link href="http://feeds.feedburner.com/nedocast" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed раздела &quot;{{category|cat_name}}&quot;" />
                {% else %}
                    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed раздела &quot;{{category|cat_name}}&quot;" />
                {% endif %}
            {% endif %}
            {# {% if TAG_FEED_ATOM and tag %}
                <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed тега &quot;{{tag}}&quot;" />
            {% endif %}
            {% if TAG_FEED_RSS and tag %}
                <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed тега &quot;{{tag}}&quot;" />
            {% endif %} #}
            <meta property="og:site_name" content="{{ SITENAME }}" />
            <meta property="og:locale" content="{{ DEFAULT_LANG }}" />
            {% block og_type %}
                <meta property="og:type" content="website" />
            {% endblock %}

            <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
        {% endblock head %}
    </head>
    <body class="page">
        <header class="header">
            <h1 class="header__logo"><a href="{{SITEURL}}" class="header__logo-link">Gik me</a></h1>
            <nav class="header__menu">
                {% if MENUITEMS %}
                    {% for item in MENUITEMS %}
                        <a
                            href="{{SITEURL}}{{item.1}}"
                            class="header__menu-item {% if item.0 == category %} header__menu-item_active {% endif %}">{{item.2}}</a>
                    {% endfor %}
                {% endif %}
            </nav>
            <nav class="header__menu header__menu_right">
                <a
                    href="https://telegram.me/joinchat/AA0gXD0Fd1NHj8pEMonoPw"
                    class="header__menu-item header__menu-item_talk">Предложить новости</a>
                <a
                    href="{{SITEURL}}/pages/donate.html"
                    class="header__menu-item header__menu-item_donate {% if output_file == 'pages/donate.html' %} header__menu-item_active {% endif %}">Поддержать $</a>
            </nav>
        </header>

        <div class="container cf">
            <main class="content">
                {% set show_shares = True %}
                {%- block content -%}{%- endblock %}

            </main>

            <aside class="sidebar">
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Подписка</h4>
                    <ul class="sidebar__subscribe">
                        <li class="sidebar__subscribe-item">
                            <a href="http://feeds.feedburner.com/gikme" class="sidebar__subscribe-link sidebar__subscribe-link_rss link">RSS подкаста</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="http://feeds.feedburner.com/nedocast" class="sidebar__subscribe-link sidebar__subscribe-link_rss-extra link">RSS недокаста<sup>18+</sup></a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="http://feeds.feedburner.com/gikmeblog" class="sidebar__subscribe-link sidebar__subscribe-link_rss-extra link">RSS (всё подряд)<sup>18+</sup></a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="http://podster.fm/user/gikme" class="sidebar__subscribe-link sidebar__subscribe-link_podster link">gik.me на podster.ru</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="https://itunes.apple.com/ru/podcast?id=597105136" class="sidebar__subscribe-link sidebar__subscribe-link_itunes link">gik.me в iTunes</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="https://www.pushbullet.com/channel?tag=gikme" class="sidebar__subscribe-link sidebar__subscribe-link_pushbullet link">gik.me в Pushbullet</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Социалки</h4>
                    <ul class="sidebar__socials">
                        <li class="sidebar__socials-item">
                            <a href="https://vk.com/gikme" class="sidebar__socials-link sidebar__socials-link_vk">Вконтакте</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://telegram.me/gikme" class="sidebar__socials-link sidebar__socials-link_tg">Телеграм</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://twitter.com/gikme" class="sidebar__socials-link sidebar__socials-link_tw">Твиттер</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://www.facebook.com/pages/gikme/137607762942824" class="sidebar__socials-link sidebar__socials-link_fb">Фейсбук</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://plus.google.com/+GikMe/posts" class="sidebar__socials-link sidebar__socials-link_gp">Гугл Плюс</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="http://www.youtube.com/channel/UCDa6JOyVlj3eW6AKf_lm4xg" class="sidebar__socials-link sidebar__socials-link_yt">Ютуб</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="http://instagram.com/gikme" class="sidebar__socials-link sidebar__socials-link_ig">Инстаграм</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Дополнительно</h4>
                    <ul class="sidebar__more">
                        {% if SIDEMENUITEMS %}
                            {% for item in SIDEMENUITEMS %}
                                <li class="sidebar__more-item">
                                    <a
                                        href="{{SITEURL}}{{item.1}}"
                                        class="sidebar__more-link {% if item.0 == category %} sidebar__more-link_active {% endif %}">{{item.2}}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li class="sidebar__more-item">
                            <a
                                href="{{SITEURL}}/archives.html"
                                class="sidebar__more-link {% if output_file == 'pages/archives.html' %} sidebar__more-link_active {% endif %}">Архив</a>
                        </li>
                        <li class="sidebar__more-item">
                            <a
                                href="{{SITEURL}}/tags.html"
                                class="sidebar__more-link {% if output_file == 'pages/tags.html' %} sidebar__more-link_active {% endif %}">Теги</a>
                        </li>
                        <li class="sidebar__more-item">
                            <a
                                href="{{SITEURL}}/search.html"
                                class="sidebar__more-link {% if output_file == 'pages/search.html' %} sidebar__more-link_active {% endif %}">Поиск</a>
                        </li>
                        <li class="sidebar__more-item">
                            <a
                                href="{{SITEURL}}/pages/tools.html"
                                class="sidebar__more-link {% if output_file == 'pages/tools.html' %} sidebar__more-link_active {% endif %}">Полезняк</a>
                        </li>
                        <li class="sidebar__more-item">
                            <a
                                href="{{SITEURL}}/pages/how-to-record.html"
                                class="sidebar__more-link {% if output_file == 'pages/how-to-record.html' %} sidebar__more-link_active {% endif %}">Гостям</a>
                        </li>
                        <li class="sidebar__more-item">
                            <a
                                href="{{SITEURL}}/pages/about.html"
                                class="sidebar__more-link {% if output_file == 'pages/about.html' %} sidebar__more-link_active {% endif %}">О нас</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Сервисы</h4>
                    <ul class="sidebar__subscribe">
                        <li class="sidebar__subscribe-item">
                            <a class="sidebar__subscribe-link link" href="http://ave.gik.me/" target="_blank">Аватарки</a>
                        </li>
                        {# <li class="sidebar__subscribe-item">
                            <a class="sidebar__subscribe-link sidebar__subscribe-link_gikyo link" href="http://yo.gik.me/" target="_blank">Yo!</a>
                        </li> #}
                        <li class="sidebar__subscribe-item">
                            <a class="sidebar__subscribe-link sidebar__subscribe-link_aoc link" href="/pages/addict-or-creative.html">Норкоман или творец</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Поддержать</h4>
                    <ul class="sidebar__more">
                        <li class="sidebar__more-item">
                            <a href="http://yasobe.ru/na/gikme" class="sidebar__more-link" target="_blank">Яндекс.Деньги</a>
                        </li>
                        <li class="sidebar__more-item">
                            <a href="https://paypal.me/gikme/300" class="sidebar__more-link" target="_blank">PayPal</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <div id="vk_groups"></div>
                </div>
                {# {% if DISQUS_SITENAME %}
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Комментарии</h4>
                    <script type="text/javascript" src="http://{{DISQUS_SITENAME}}.disqus.com/recent_comments_widget.js"></script>
                </div>
                {% endif %}
                <div class="sidebar__item">
                    <ul class="sidebar__tags">
                        {% for tag, articles in tags|sort %}
                        <li class="sidebar__tags-item">
                            <a href="{{SITEURL}}/{{tag.url}}" class="sidebar__tags-link link">{{tag}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>#}
                <div class="sidebar__item">
                    <a href="http://orphus.ru" id="orphus" target="_blank"><img alt="Система Orphus" src="{{ SITEURL }}/theme/img/orphus.gif" border="0" width="220" height="80" /></a>
                </div>
                <div class="sidebar__item">
                    Хостинг сайта:
                    <a href="https://github.com/" class="link" target="_blank">GitHub</a>,
                    {# <a href="https://bill2fast.com/aff.php?aff=3332" class="link" target="_blank">FastVPS</a><br>
                    и <a href="https://www.digitalocean.com/?refcode=00e18fbdd21a" class="link" target="_blank">Digital Ocean</a>,#}
                    звука: <a href="https://cp.smartape.ru/mancgi/partnerprogram?partner=20524&project=1" class="link" target="_blank">SmartApe</a>.
                </div>
                <div class="sidebar__item">
                    <strong>18+</strong> &mdash; для людей старше 18 лет
                </div>
            </aside>
        </div>

        <footer class="footer">
            <a href="http://feeds.feedburner.com/gikme" class="footer__link link">RSS подкаста <strong>[18+]</strong></a>
            <a href="http://feeds.feedburner.com/nedocast" class="footer__link link">RSS недокаста <strong>[18+]</strong></a>
            <a href="http://feeds.feedburner.com/gikmeblog" class="footer__link link">RSS (всё подряд) <strong>[18+]</strong></a>
        </footer>
        {% if DISQUS_SITENAME %}
            <script type="text/javascript">
                var disqus_shortname = '{{ DISQUS_SITENAME }}';
                (function () {
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            </script>
        {% endif %}
        {% block scripts %}
            <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
            <script type="text/javascript" src="{{ SITEURL }}/theme/js/audiojs/audio.js"></script>
            <script type="text/javascript" src="{{ SITEURL }}/theme/js/main.js"></script>
            <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.fluidbox.min.js"></script>
            <script type="text/javascript" src="{{ SITEURL }}/theme/js/orphus.js"></script>
            {% if output_file == 'pages/trello.html' %}
                <script type="text/javascript" src="https://trello.com/1/client.js?key=fcaf22c05f4f9b9fc063af2da9d8a617"></script>
                <script type="text/javascript" src="{{ SITEURL }}/theme/js/trello.js"></script>
            {% endif %}
        {% endblock scripts %}
        {% include 'analytics.html' %}
    </body>
</html>
