<!DOCTYPE html>
<html class="window" lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#" prefix="ya: https://webmaster.yandex.ru/vocabularies/" perefix="og:website: http://ogp.me/ns/website#" {% block head_prefixes %}{% endblock %}>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
            <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fluidbox.css"/>
            <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css"/>
            <link rel="shortcut icon" href="/favicon.ico" />
            <link rel='icon' type='image/x-icon' href='/favicon.ico'/>

            {# {% if FEED_ALL_ATOM %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} полный Atom Feed" />
            {% endif %}
            {% if FEED_ALL_RSS %} #}
                <link href="http://feeds.feedburner.com/gikmeblog" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} полный RSS Feed" />
            {# {% endif %}
            {% if FEED_ATOM %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
            {% endif %}
            {% if FEED_RSS %}
                <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
            {% endif %} #}
            {# {% if CATEGORY_FEED_ATOM and category %}
                <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed раздела &quot;{{category|cat_name}}&quot;" />
            {% endif %} #}
            {% if CATEGORY_FEED_RSS and category %}
                {% if category == 'podcast' %}
                    <link href="http://feeds.feedburner.com/gikme" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed раздела &quot;{{category|cat_name}}&quot;" />
                {% else %}
                    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed раздела &quot;{{category|cat_name}}&quot;" />
                {% endif %}
            {% endif %}
            {# {% if TAG_FEED_ATOM and tag %}
                <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed тега &quot;{{tag}}&quot;" />
            {% endif %}
            {% if TAG_FEED_RSS and tag %}
                <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed тега &quot;{{tag}}&quot;" />
            {% endif %} #}
            <meta property="og:site_name" content="{{ SITENAME }}" />
            {% block og_type %}
                <meta property="og:type" content="website" />
            {% endblock %}

        {% endblock head %}
    </head>
    <body class="page">

        <header class="header">
            <a href="{{SITEURL}}"><h1 class="header__logo">Gik me</h1></a>
            <nav class="header__menu">
                {% if MENUITEMS %}
                    {% for item in MENUITEMS %}
                        <a
                            href="{{SITEURL}}{{item.1}}"
                            class="header__menu-item {% if item.0 == category %} header__menu-item_active {% endif %}">{{item.2}}</a>
                    {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <a
                            href="{{SITEURL}}/{{cat.url}}"
                            class="header__menu-item {% if cat == category %} header__menu-item_active {% endif %}">{{ cat|cat_name|title }}</a>
                    {% endfor %}
                {% endif %}
                <a
                    href="{{SITEURL}}/archives.html"
                    class="header__menu-item {% if output_file == "archives.html" %} header__menu-item_active {% endif %}">Архив</a>

                <a class="header__menu-item" href="http://ave.gik.me/" target="_blank">Аватарки</a>
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for page in PAGES %}
                        <a
                            href="{{ SITEURL }}/{{ page.url }}"
                            class="header__menu-item {% if output_file == page.url %} header__menu-item_active {% endif %}">{{ page.title }}</a>
                    {% endfor %}
                {% endif %}
            </nav>
        </header>

        <div class="container cf">
            <main class="content">

                {%- block content -%}{%- endblock %}

            </main>

            <aside class="sidebar">
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Подписка</h4>
                    <ul class="sidebar__subscribe">
                        <li class="sidebar__subscribe-item">
                            <a href="http://feeds.feedburner.com/gikme" class="sidebar__subscribe-link sidebar__subscribe-link_rss link">RSS подкаста</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="http://feeds.feedburner.com/gikmeblog" class="sidebar__subscribe-link sidebar__subscribe-link_rss-extra link">RSS c невошедшим</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="http://podster.fm/user/gikme" class="sidebar__subscribe-link sidebar__subscribe-link_podster link">gik.me на podster.ru</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="http://yahujik.podfm.ru/gikme/" class="sidebar__subscribe-link sidebar__subscribe-link_podfm link">gik.me на podfm.ru</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="https://itunes.apple.com/ru/podcast?id=597105136" class="sidebar__subscribe-link sidebar__subscribe-link_itunes link">gik.me в iTunes</a>
                        </li>
                        <li class="sidebar__subscribe-item">
                            <a href="https://www.pushbullet.com/channel?tag=gikme" class="sidebar__subscribe-link sidebar__subscribe-link_pushbullet link">gik.me в Pushbullet</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Социалки</h4>
                    <ul class="sidebar__socials">
                        <li class="sidebar__socials-item">
                            <a href="https://vk.com/gikme" class="sidebar__socials-link sidebar__socials-link_vk">Вконтакте</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://twitter.com/gikme" class="sidebar__socials-link sidebar__socials-link_tw">Твиттер</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://www.facebook.com/pages/gikme/137607762942824" class="sidebar__socials-link sidebar__socials-link_fb">Фейсбук</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="https://plus.google.com/+GikMe/posts" class="sidebar__socials-link sidebar__socials-link_gp">Гугл Плюс</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="http://gikme.tumblr.com/" class="sidebar__socials-link sidebar__socials-link_tm">Тумблер</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="http://www.youtube.com/channel/UCDa6JOyVlj3eW6AKf_lm4xg" class="sidebar__socials-link sidebar__socials-link_yt">Ютуб</a>
                        </li>
                        <li class="sidebar__socials-item">
                            <a href="http://instagram.com/gikme" class="sidebar__socials-link sidebar__socials-link_ig">Инстаграм</a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <h4 class="sidebar__title">Поддержать</h4>
                    <ul class="sidebar__donate">
                        <li class="sidebar__donate-item">
                            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=410011889725372&quickpay=small&yamoney-payment-type=on&button-text=06&button-size=s&button-color=orange&targets=%D0%92%D0%B0%D0%B4%D0%B8%D0%BC%D1%83+%D0%BD%D0%B0+%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D1%84%D0%BE%D0%BD&default-sum=100&successURL=" width="147" height="31"></iframe>
                        </li>
                        <li class="sidebar__donate-item">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input
                                    name="cmd"
                                    type="hidden"
                                    value="_s-xclick">
                                <input
                                    name="hosted_button_id"
                                    type="hidden"
                                    value="BMF83KQSRA29Q">
                                <input
                                    class="sidebar__paypal"
                                    alt="PayPal — более безопасный и легкий способ оплаты через Интернет!"
                                    border="0"
                                    name="submit"
                                    src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_donateCC_LG.gif"
                                    type="image">
                                <img
                                    alt=""
                                    border="0"
                                    height="1"
                                    src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif"
                                    width="1">
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="sidebar__item">
                    <div id="vk_groups"></div>
                </div>
                <div class="sidebar__item">
                    Хостинг <a href="https://bill2fast.com/aff.php?aff=3332" class="link" target="_blank">FastVPS</a><br>
                    и <a href="https://www.digitalocean.com/?refcode=00e18fbdd21a" class="link" target="_blank">Digital Ocean</a>
                </div>
            </aside>
        </div>

        <footer class="footer">
            <a href="http://feeds.feedburner.com/gikme" class="footer__link link">RSS подкаста</a>
            <a href="http://feeds.feedburner.com/gikmeblog" class="footer__link link">RSS подкаста вместе с невошедшим</a>
        </footer>
        {% if DISQUS_SITENAME %}
            <script type="text/javascript">
                var disqus_shortname = '{{ DISQUS_SITENAME }}';
                (function () {
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            </script>
        {% endif %}
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/main.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.fluidbox.min.js"></script>
        {% include 'analytics.html' %}
    </body>
</html>
