{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link href='{{SITEURL}}/{{page.url}}' rel='canonical'/>

  <meta property="og:title" content="{{page.title|striptags|escape}}" />
  {% if page.image %}
      <meta property="og:image" content="{% if not page.image.startswith('http') %}{{SITEURL}}{% endif %}{{page.image}}" />
  {% endif %}
  <meta property="og:url" content="{{SITEURL}}/{{page.url}}" />
{% endblock %}

{% block title %}{{ SITENAME }} &middot; {{ page.title }}{% endblock %}

{% block content %}

            <article class="article">
            	<header classs="article__header">
            		<h1 class="article__title">{{ page.title }}</h1>	
            	</header>
                <section class="article__content">
                	{{ page.content }}
                </section>
            </article>
{% endblock %}
