{% if article.enclosure %}
    {% if article.mime.startswith('audio') %}
        <div class="audio-player">
            <audio controls="" tabindex="0">
            <source src="{{article.enclosure}}" type="{{article.mime}}"></source>
            </audio>
        </div>
    {% elif article.mime.startswith('video') %}
        <div class="video-player">
            <video controls="" tabindex="0">
            <source src="{{article.enclosure}}" type="{{article.mime}}"></source>
            </video>
        </div>
        <p>
            <a href="{{article.enclosure}}">Скачать видео</a>
        </p>
    {% endif %}
{% endif %}
