site-width = 1000px
content-width = 760px
sidebar-width = 220px

bg-content-color = #fff
bg-color = #f9f7f2
link-color = #3871b8
link-hover-color = #f66245
link-active-color = #0a2c57
meta-color = #a4a6a8
font-color = #3a3e41
border-color = #cccbc9

header-fs = 24px
subheader-fs = 18px
content-fs = 14px
meta-fs = 12px

margin = 10px
marginx2 = 20px
marginx3 = 30px
marginx4 = 40px

*
	box-sizing border-box
	
.cf:before,
.cf:after 
	content " "
	display table

.cf:after
	clear both